<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="/home"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{ details.name }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <div v-if="details">
        <ion-slides
            v-if="details.images"
            pager="true"
            :options="slideOpts"
        >
          <ion-slide
              v-for="(sprite, index) in details.images"
              :key="`slide-${details.name}-${index}`"
          >
            <img :src="sprite" style="height: 250px;">
          </ion-slide>
        </ion-slides>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-capitalize">#{{ details.id }} {{ details.name }}
              <ion-chip
                  color="primary"
                  v-for="(t, index) in details.types"
                  :key="`type-${index}`"
              >
                <ion-label>{{ t.type.name }}</ion-label>
              </ion-chip>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-capitalize">{{ details.weight }} lbs</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label text-wrap><b>Abilities:</b> <span v-for="(a, index) in details.abilities"
                                                             :key="`ability-${index}`"
                                                             class="ion-text-capitalize">
                {{ a.ability.name }}{{ index !== details.abilities.length - 1 ? ', ' : '' }}
              </span></ion-label>
              </ion-item>
              <ion-item
                  v-for="(s, index) in details.stats"
                  class="ion-text-capitalize"
                  :key="`stat-${index}`"
              >
                <ion-label slot="start"><b>{{ s.stat.name }}:</b></ion-label>
                <ion-label slot="end">
                  {{ s.base_stat }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>

    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {defineComponent, onBeforeMount, ref} from 'vue';
import {useRoute} from 'vue-router';
import {
  IonBackButton,
  IonButtons,
  IonCard,
  IonCardContent,
  IonCardHeader,
  IonCardSubtitle,
  IonCardTitle,
  IonChip,
  IonContent,
  IonHeader,
  IonItem,
  IonLabel,
  IonList,
  IonPage,
  IonSlide,
  IonSlides,
  IonTitle,
  IonToolbar
} from '@ionic/vue';
import {PokemonService} from '@/service/pokemon.service';

export default defineComponent({
  name: "Details",
  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonBackButton,
    IonTitle,
    IonContent,
    IonSlides,
    IonSlide,
    IonCard,
    IonCardHeader,
    IonCardSubtitle,
    IonCardTitle,
    IonChip,
    IonLabel,
    IonCardContent,
    IonList,
    IonItem
  },
  setup() {
    const route = useRoute();
    const pokemonService = new PokemonService();
    const details = ref({});

    const slideOpts = {
      autoplay: {
        delay: 1000,
        disableOnInteraction: false
      }
    };

    onBeforeMount(async () => {
      const index = route.params.index;

      await pokemonService.getPokeDetails(index).then(data => {
        details.value = data;
      });
    });

    return {
      slideOpts,
      details
    }
  }
});
</script>
