<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Devdactic Pokédex
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-searchbar placeholder="Search Pokemon" @ion-change="onSearchChange($event)"></ion-searchbar>

      <ion-list v-if="pokemon.length === 0">
        <ion-item v-for="i in [1,2,3,4,5]" :key="i">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label class="ion-text-capitalize">
            <h2>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item v-for="poke in pokemon" :key="poke.name" :router-link="`/home/${poke.pokeIndex}`">
          <ion-avatar slot="start">
            <img :src="poke.image" style="background: #F2F2F2;">
          </ion-avatar>
          <ion-label class="ion-text-capitalize">
            <h2>{{ poke.name }}</h2>
            <p>#{{ poke.pokeIndex }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll @ion-infinite="loadPokemon(true, $event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more Pokemon...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonAvatar,
  IonContent,
  IonHeader,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonItem,
  IonLabel,
  IonList,
  IonPage,
  IonSearchbar,
  IonSkeletonText,
  IonTitle,
  IonToolbar
} from '@ionic/vue';
import {defineComponent, onMounted, ref} from 'vue';
import {Poke, PokemonService} from '@/service/pokemon.service';
import {SearchbarChangeEventDetail} from "@ionic/core";

export default defineComponent({
  name: 'Home',
  components: {
    IonAvatar,
    IonContent,
    IonHeader,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    IonItem,
    IonLabel,
    IonList,
    IonPage,
    IonSearchbar,
    IonSkeletonText,
    IonTitle,
    IonToolbar
  },
  setup() {
    let offset = 0;
    const pokemon = ref<Poke[]>([]);
    const pokeService = new PokemonService();

    const loadPokemon = async (loadMore = false, event?: { target: HTMLIonInfiniteScrollElement }) => {
      if (loadMore) {
        offset += 25;
      }

      await pokeService.getPokemon(offset).then(response => {
        pokemon.value = [...pokemon.value, ...response];
      });

      if (event && event.target) {
        await event.target.complete();
      }
    }

    const onSearchChange = async (e: CustomEvent<SearchbarChangeEventDetail>) => {
      const value = e.detail.value;

      if (value === '' || typeof value === 'undefined') {
        offset = 0;
        await loadPokemon();

        return;
      }

      pokeService.findPokemon(value).then(response => {
        pokemon.value = [response];
      }).catch(() => {
        pokemon.value = [];
      });
    }

    onMounted(() => loadPokemon());

    return {
      loadPokemon,
      onSearchChange,
      pokemon
    }
  }
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8C8C8C;

  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>
